[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
psycopg2 = "*"
flask = "*"
werkzeug = "*"


[dev-packages]
pytest = "*"

[requirements]

python_version = "3.6"
