{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Log{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <!-- 
  <form method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input name="title" id="title" class="form-control" value="{{ request.form['title'] }}" required>
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <input name="password" id="body" class="form-control" required>
    </div>
      <button type="submit" value="Log In" class="btn btn-outline-primary">Log In</button>
  </form> -->
{% endblock %}
