{% extends 'base.html' %}

{% block header %}
  <h1 class="mx-auto" style="width: 200px;">{% block title %}All Logs{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div class="container">
          <h3 class="text-left">{{ log[3] }} : {{ log[5] }}
              {% if g.person[0] == log[1] %}
                <a class="action btn btn-outline-primary btn-sm float-right" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
              {% endif %}
          </h3>
          <div class="blockquote-footer">by {{ post['username'] }} on {{ log[2].strftime('%m-%d-%Y') }}</div>
          <p class="lead">{{ post['body'] }}</p>
          {% if not loop.last %}
            <hr>
          {% endif %}
        </div>
      </header>
    </article>
  {% endfor %}
{% endblock %}
