{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input name="title" id="title" class="form-control" style="width: 200px;"
        value="{{ request.form['title'] or post['title'] }}" required>
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea name="body" id="body" class="form-control" style="width: 200px;">{{ request.form['body'] or post['body'] }}</textarea>
    </div>
    <button type="submit" value="Save" class="btn btn-outline-success">Save</button>
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <button type="submit" value="Delete" class="btn btn-outline-danger" onclick="return confirm('Are you sure?');">Delete</button>
  </form>
{% endblock %}
